<!DOCTYPE html>
<html>
<head>
	<title>Create User</title>
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style type="text/css">
		body {
			padding-top: 80px;
		}
	</style>
</head>
<body>
<div class="container-fluid">
	<!-- <div class="row"> -->
		<div class="col-md-8 col-md-offset-3">
<% if(!!message && message.length > 0) { %>
			<div class="alert <%= code %>"><%= message %></div>
<% } %>
			<form action="/edit/<%= user._id %>" method="POST">
				<input type="hidden" value="<%= user._id %>" name="_id">
				<div class="col-md-6 form-group">
					<label>Username</label><br>
					<input type="text" name="username" value="<%= user.username %>">
				</div>
				<div class="col-md-6 form-group">
					<label>First Name</label><br>
					<input type="text" name="firstName" value="<%= user.firstName %>">
				</div>
				<div class="col-md-6 form-group">
					<label>Password</label><br>
					<input type="password" name="password">
				</div>
				<div class="col-md-6 form-group">
					<label>Last Name</label><br>
					<input type="text" name="lastName" value="<%= user.lastName %>">
				</div>
				<div class="col-md-6 form-group">
					<label>Confirm Password</label><br>
					<input type="password" name="password_confirm">
				</div>
				<div class="col-md-6 form-group">
					<button type="submit" class="btn btn-success btn-lg">Update</button><br><br>
					<a class="btn btn-danger" href="/">Cancel</a>
				</div>
			</form>
		</div>
	<!-- </div> -->
</div>
</body>
</html>
